---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{ site.description }}</h1>

  {% if site.posts.size == 0 %}
    <p><em>Looks like nothing is published here yet...</em></p>
  {% else %}
    <p>Posts</p>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</div>
